@font-face {
    font-family: rubik-italic-variablefont_wght;
    src: url('Rubik-Italic-VariableFont_wght.ttf');
}

body, html{
    background-color: rgb(46, 46, 46);
    background-size: 100%;
}

h1{
    color: white;
    font-size: 36px;
    font-family: rubik-italic-variablefont_wght;
    text-align: center;
}

.content{
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    margin-left: 35%;
    padding: 1%;
    margin-top: 8%;
    border: 2px solid white;
    color: white;
    font-size: 28px;
    font-family: rubik-italic-variablefont_wght;
    text-align: center;
    line-height: 100%;
    transition: 0.5s;
}

.content:hover{
    border: 3px solid black;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}

.animation{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: kocka;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: -30%;
    margin-left: 5%;
}

img{
    width: 100px;
    height: 100px;
}

@keyframes kocka {
    0%   {left:0px; top:0px;}
    25%  {left:100px; top:0px;}
    50%  {left:100px; top:100px;}
    75%  {left:0px; top:100px;}
    100%  {left:0px; top:0px;}
}

.navbar{
    background-color: #585858;
    width: 99%;
    height: 5%;
    position: absolute;
    margin-top: 2%;;
}

.button{
    height: 100%;
    width: 11.7%;
    outline: none;
    background-color: #585858;
    color: black;
    text-align: center;
    border: none;
    font-family: rubik-italic-variablefont_wght;
    font-size: 14px;
    margin-left: 2%;
    transition-duration: 0.5s;
}

button:hover{
    background-color: rgb(46, 46, 46);
    color: white;
    font-weight: bolder;
}

.navbar a{
    text-decoration: none;
}

p:hover{
    color:white;
}