@font-face {
    font-family: rubik-italic-variablefont_wght;
    src: url('Rubik-Italic-VariableFont_wght.ttf');
}

body, html{
    height: 100%;
    background-color: black;
    background-image: url(mustangososos.jpg);
    background-size: 360%;
}

.content{
    position: absolute;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    text-align: center;
    top: 5px;
}
h1{
    font-family: rubik-italic-variablefont_wght;
    margin-left: 10%;
    color: black;
}
h2{
    color: black;
    font-family: rubik-italic-variablefont_wght;
    margin-left: 10%;
    border-radius: 12px;
    background-color: rgb(92, 91, 91);
    border: black solid 3px;
    box-shadow: rgb(43, 42, 42) 15px 15px 20px;
}
img{
    border: rgb(27, 26, 26) solid 3px;
    border-radius: 12px;
    margin-right: 10%;
    float: right;
    box-shadow: rgb(68, 67, 67) 15px 15px 20px;
    transform: rotate(2deg);
    position: relative;
}

#teszt{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-left: 49.65%;
    border: none;
    box-shadow: none;
}

#teszt:hover{
    opacity: 1;
}

#elso{
    width: 10%;
    background-color: rgb(124, 124, 124);
}
#masodik{
    width: 17%;
}
#harmadik{
    width: 12%;
}
#negyedik{
    width: 12%;
}
#otodik{
    width: 15%;
}
#utso{
    margin-bottom: 5%;
}
#logo{
    border: none;
    box-shadow: none;
    float: right;
    box-shadow: rgb(68, 67, 67) 5px 5px 10px 5px;
    background-color: none;
    transform: rotate(5deg);
}

@media screen and (max-width:600px) {
    #text{
        margin-left: 10%;
    }
}

.navbar{
    background-color: #878a91;
    width: 70%;
    height: 5%;
    position: absolute;
    margin-top: 2%;
    border: black solid 2px;
    border-radius: 8px;
    margin-left: 15%;
}

.button{
    height: 100%;
    width: 14%;
    outline: none;
    background-color: #878a91;
    color: black;
    text-align: center;
    border: none;
    font-family:rubik-italic-variablefont_wght;
    font-size: 14px;
    margin-left: 2%;
    transition-duration: 0.5s;
}

button:hover{
    background-color: black;
    color: white;
    font-weight: bolder;
}